*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.s1{
    background: #202020;
}
.s2{
    background: #202020;
}
.s3{
    background: #202020;
}

.section h1{
    font-size: 18pt;
    color: #08d2ff;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%,  2%);
}

.section ul{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
}

.section li{
    list-style: none;
    padding: 5px 0;
}

.section button{
    cursor: pointer;
    width: 300px;
    padding: 5px 10px;
    font-weight: bold;
    background-color: #08d2ff;
    color: rgb(24, 22, 22);
    border: none;
}
.btn{
    cursor: pointer;
    width: 300px;
    padding: 5px 10px;
    font-weight: bold;
    background-color: #20202000;
    color: #08d2ff;;
    border: none;
    z-index: 50;
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, -3%)
}
.forcaContent {
    position: absolute;
    width: 300px;
    top: 55px;
    left: 50%;
    transform: translate(-50%);
}

.dica, .jogadas_restantes {
    display: flex;
    color: rgb(208, 186, 59);
    font-weight: lighter;
    align-items: center;
    justify-content: center;
}
.jogadas_restantes{
    color: #ff8808;
}
.forcaContent #palavra {
    position: absolute;
    height: 30px;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%);
    font-size: 25pt;
    color: #08d2ff;
    z-index: 200;
}

.message_content{
    position: absolute;
    width: 300px;
    height: 85%;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -18%);
    background-color: #202020;
    border: 1px solid #08d2ff;
    z-index: 100;
}
.message{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #08d2ff;
}
.keyboard{
    display: flex;
    flex-wrap: wrap;
    background: #08d2ff;
    height: 250px;
    width: 300px;
    top: 335px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
}
.key {
    flex: 1;
    margin: 5px;
    padding: 8px 10px 4px 10px;
    text-align: center;
    font-size: 1.5em;
    background: #202020;
    color: #08d2ff;
    cursor: pointer;
}

#cabeca{
    position: absolute;
    top: 32px;
    left: 110px;
    display: none;
}
#corpo{
    position: absolute;
    top: 75px;
    left: 130px;
    display: none;
}
#braco_dir{
    position: absolute;
    top: 80px;
    left: 108px;
    display: none;
}
#braco_esq{
    position: absolute;
    top: 80px;
    left: 138px;
    display: none;
}
#perna_esq{
    position: absolute;
    top: 120px;
    left: 108px;
    display: none;
}
#perna_dir{
    position: absolute;
    top: 120px;
    left: 138px;
    display: none;
}